<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TurboPezzi.Properties.Settings.TurboPezziConnectionString"
            connectionString="Data Source=LAPTOP-DSD8TBJN;Initial Catalog=TurboPezzi;Persist Security Info=True;User ID=TurboPezziUsr;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>